In [3]:
# import os
# import glob
# import pandas as pd
os. getcwd()
# os.chdir('JC-data')

'C:\\Users\\hengelbrecht\\CodingBootcamp\\uofa-phx-data-pt-02-2020-u-c\\tableau-challenge\\JC-data'

## Combining CSVs

In [11]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

print(all_filenames)

#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
combined_csv.to_csv( "combined_csv.csv", index=False, encoding='utf-8-sig')

['JC-201801-citibike-tripdata.csv', 'JC-201802-citibike-tripdata.csv', 'JC-201803-citibike-tripdata.csv', 'JC-201804-citibike-tripdata.csv', 'JC-201805-citibike-tripdata.csv', 'JC-201806-citibike-tripdata.csv', 'JC-201807-citibike-tripdata.csv', 'JC-201808-citibike-tripdata.csv', 'JC-201809-citibike-tripdata.csv', 'JC-201810-citibike-tripdata.csv', 'JC-201811-citibike-tripdata.csv', 'JC-201812-citibike-tripdata.csv', 'JC-201901-citibike-tripdata.csv', 'JC-201902-citibike-tripdata.csv', 'JC-201903-citibike-tripdata.csv', 'JC-201904-citibike-tripdata.csv', 'JC-201905-citibike-tripdata.csv', 'JC-201906-citibike-tripdata.csv', 'JC-201907-citibike-tripdata.csv', 'JC-201908-citibike-tripdata.csv', 'JC-201909-citibike-tripdata.csv', 'JC-201910-citibike-tripdata.csv', 'JC-201911-citibike-tripdata.csv', 'JC-201912-citibike-tripdata.csv', 'JC-202001-citibike-tripdata.csv', 'JC-202002-citibike-tripdata.csv', 'JC-202003-citibike-tripdata.csv', 'JC-202004-citibike-tripdata.csv', 'JC-202005-citibike-tripdata.csv', 'JC-202006-citibike-tripdata.csv']

In [12]:
os.chdir('JC-data-2017')
os. getcwd()

'C:\\Users\\hengelbrecht\\CodingBootcamp\\uofa-phx-data-pt-02-2020-u-c\\tableau-challenge\\JC-data\\JC-data-2017'

In [13]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

print(all_filenames)

# #combine all files in the list
# combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
# #export to csv
# combined_csv.to_csv( "combined_csv-2017.csv", index=False, encoding='utf-8-sig')

['combined_csv-2017.csv', 'JC-201701-citibike-tripdata.csv', 'JC-201702-citibike-tripdata.csv', 'JC-201703-citibike-tripdata.csv', 'JC-201704-citibike-tripdata.csv', 'JC-201705-citibike-tripdata.csv', 'JC-201706-citibike-tripdata.csv', 'JC-201707-citibike-tripdata.csv', 'JC-201708 citibike-tripdata.csv', 'JC-201709-citibike-tripdata.csv', 'JC-201710-citibike-tripdata.csv', 'JC-201711-citibike-tripdata.csv', 'JC-201712-citibike-tripdata.csv']

In [6]:
pre_2018 = "JC-data/JC-data-2017/combined_csv-2017.csv"
post_2018 = "JC-data/combined_csv.csv"
pre_2018_df = pd.read_csv(pre_2018)
post_2018a_df = pd.read_csv(post_2018)

# bike_data = [ny_bike_data_df, nj_bike_data_df]
# bike_data_df = pd.concat(bike_data)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (1,2,4,8,12,16,17,19,23,27) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
os.chdir('..')
os. getcwd()

'C:\\Users\\hengelbrecht\\CodingBootcamp\\uofa-phx-data-pt-02-2020-u-c\\tableau-challenge'

In [7]:
pre_2018_df

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,...,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,148.0,2017-01-01 00:21:32,2017-01-01 00:24:01,3276.0,Marin Light Rail,40.714584,-74.042817,3185.0,City Hall,40.717732,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1283.0,2017-01-01 00:24:35,2017-01-01 00:45:58,3183.0,Exchange Place,40.716247,-74.033459,3198.0,Heights Elevator,40.748716,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,372.0,2017-01-01 00:38:19,2017-01-01 00:44:31,3183.0,Exchange Place,40.716247,-74.033459,3211.0,Newark Ave,40.721525,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1513.0,2017-01-01 00:38:37,2017-01-01 01:03:50,3194.0,McGinley Square,40.725340,-74.067622,3271.0,Danforth Light Rail,40.692640,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,639.0,2017-01-01 01:47:52,2017-01-01 01:58:31,3183.0,Exchange Place,40.716247,-74.033459,3203.0,Hamilton Park,40.727596,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294923,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.718211,-74.083639,3186.0,Grove St PATH,40.719586,-74.043117,29644.0,Subscriber,1987.0,2.0
294924,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.719282,-74.071262,3268.0,Lafayette Park,40.713464,-74.062859,31799.0,Subscriber,1994.0,1.0
294925,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.719586,-74.043117,3185.0,City Hall,40.717732,-74.043845,31920.0,Subscriber,1957.0,1.0
294926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.725289,-74.045572,3211.0,Newark Ave,40.721525,-74.046305,31925.0,Subscriber,1964.0,1.0
294927,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.730743,-74.063784,3280.0,Astor Place,40.719282,-74.071262,31709.0,Subscriber,1979.0,1.0

In [8]:
post_2018a_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
896801,2828,2020-06-30 23:53:19.7380,2020-07-01 00:40:28.5760,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,18351,Customer,1969,0
896802,2729,2020-06-30 23:54:44.0100,2020-07-01 00:40:13.6470,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,44401,Customer,1969,0
896803,2788,2020-06-30 23:54:52.1920,2020-07-01 00:41:20.6500,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42334,Customer,1969,0
896804,2702,2020-06-30 23:56:14.6650,2020-07-01 00:41:16.7820,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42463,Customer,1969,0
896805,2649,2020-06-30 23:57:46.1490,2020-07-01 00:41:55.5060,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42468,Customer,1998,2